.banner {
  background-color: red;
  color: white;
  margin-top: 75px;
  text-align: center;
  padding: 100px 0;
}

#inspiring {
  height: 350px;
}

#ThiaGoat {
  color: turquoise;
  font-size: 100px;
}

.bold {
  font-weight: 900;
}
